<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    beStrictAboutOutputDuringTests="true"
    cacheDirectory=".phpunit.cache"
    colors="true"
>
    <php>
        <env name="INTEGRATION_ENABLED" value="0" />
        <env name="DB_HOST" value="127.0.0.1" />
        <env name="DB_PORT" value="3306" />
        <env name="DB_USERNAME" value="" />
        <env name="DB_PASSWORD" value="" />
        <env name="DB_DATABASE_1" value="test_1" />
        <env name="DB_DATABASE_2" value="test_2" />
    </php>
    <testsuites>
        <testsuite name="Phlib Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
